.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  width: 1100px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.card__image {
  max-width: 850px;
  max-height: 700px;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 40px;
}
.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
}

.card__author {
  padding-bottom: 10px;
  opacity: 0.7;
  color: grey;
}

.card__title {
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.card__description {
  padding-top: 30px;
  font-size: 20px;
}
.card__continue {
  padding-top: 30px;
}
.card__url {
  padding-bottom: 10px;
}
.card_item {
  background-color: white;
  display: flex;
  padding-right: 0px;
  padding: 2px;
}
.image__wrapper {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .card {
    width: calc(100% - 15px);
  }
  .card__image {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .card {
    width: calc(100% - 15px);
  }
  .card__image {
    max-width: 100%;
  }
}
